.marka {
    filter: alpha(opacity=40);
    opacity: 0.9;
    transition: all .2s ease-out;
    border: 3px solid #f9f9f9;
    border-radius: 0.3rem;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    padding: 12px;
    margin-bottom: 21px;



    @include responsive(tablet-kucuk) {
        margin-left: 0rem;
    }

    &:hover {
        opacity: 1;

        transform: translateY(-.3rem);

        @include responsive(tablet-kucuk) {
        }

    }
}